<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Твитер</title>
  </head>
  <body>
    <a id="logout" href="/logout">Выйти</a>
    <h1 id="title">Твитер</h1>
    <h2 id="name">{{ name }}</h2>
    <form
      id="formCreate"
      action="/create"
      method="POST">
      <p>Скажи то, что ты хочешь сказать!</p>
      <input
        id="text-area"
        type="text"
        name="content" /> <br>
      <input type="submit" value="Запостить" />
    </form>
    <div id="posts">
      {% for post in posts %}
        <div class="post">
          <div class="author">{{ post.dataValues.User.dataValues.name }}</div>
          <div class="content" id="{{ post.dataValues.id }}">{{ post.dataValues.content }}</div>
          <div class="date">{{ post.dataValues.createdAt | date: "%Y-%m-%d %H:%M" }}</div>
          {% if post.dataValues.userID == userID or isAdmin %}
            <div class="manage">
              <form
                class="button"
                action="/edit"
                method="POST">
                <input
                  type="submit"
                  name="edit_{{ post.dataValues.id }}"
                  value="Редактировать"
                  onclick="edit(this)">
              </form>
              <form
                class="button"
                action="/delete"
                method="POST">
                <input
                  type="submit"
                  name="delete_{{ post.dataValues.id }}"
                  value="Удалить">
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </body>
  <script>
    function edit(input) {
      const id = input.name.split('_')[1];
      const content = document.getElementById(id).innerHTML;
      console.log(content);
      const newContent = prompt('Отредактируйте свое сообщение', content);
      const submit = document.getElementsByName('edit_' + id)[0];
      submit.value = newContent;
      console.log(submit);
    }
  </script>
</html>